table#raffles tr.OPEN {
    background-color: #7ffc32;
}

table#raffles tr.COMMITTED {
    background-color: #ffff00;
}

table#raffles tr.CLOSED {
    background-color: #bfbfbf;
}

table#raffles tr.INVALID {
    background-color: #ff0000;
}
