table#raffles tr.OPEN {
    background-color: #66ff66;
}

table#raffles tr.COMMITTED {
    background-color: #ffff66;
}

table#raffles tr.CLOSED {
    background-color: #666666;
}

table#raffles tr.INVALID {
    background-color: #ff6666;
}
