table#raffle_participants tr.FORBIDDEN {
    background-color: #ff0000;
}

table#raffle_participants tr.ENTRY_ACCEPTED,
table#raffle_participants tr.DECLINE_REQUESTED,
table#raffle_participants tr.WIN_GRANTED {
    background-color: #7ffc32;
}

table#raffle_participants tr.ENTRY_REQUESTED,
table#raffle_participants tr.DECLINE_ACCEPTED {
    background-color: #ffff00;
}

table#raffle_participants tr.VOTED {
    background-color: #bfbfbf;
}

table#raffle_participants tr.WIN_REJECTED {
    background-color: #ef00ff;
}
